<!DOCTYPE html>
<html>
<head>
	<title>MyChat</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://localhost/stylesheets/forms.css">
</head>
<body>
	<form action="/" method="post" class="forms" id="login">
		<label>Login</label>
		<input type="text" name="login">
		<label>Password</label>
		<input type="password" name="password">
		<div class="buttons">
			<a onclick="document.getElementById('login').submit(); return false;" class="link">Log in</a>
			<a href="signup" class="link">Sign up</a>
		</div>
		<label style="color: red;" class="error">{{.LogError}}</label>
		<a href="forgot" class="forgot">Forgot your password?</a>
	</form>
</body>
</html>