<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://localhost/stylesheets/forms.css">
</head>
<body>
	<form action="/signup" method="post" class="forms" id="signup">
		<label>Mail</label>
		<input type="text" name="mail">
		<label>Password</label>
		<input type="password" name="password">
		<label>Repeat password</label>
		<input type="password" name="repeat-password">
		<div class="buttons">
			<a onclick="document.getElementById('login').submit(); return false;" class="link">Sign up</a>
		</div>
		<label style="color: red;">{{.LogError}}</label>
	</form>
</body>
</html>