.forms {
	display: grid;
	margin-bottom: 15%;
}

html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	display: grid;
	place-items: center;
}


label, input, button {
	font-size: 1.3rem;
	font-family: monospace;
	margin: 2px;
}